@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
 
  background-color: rgb(167, 53, 53);
  display: flex;
}

:root {
  --primary-color: #072647; /* Bleu Électrique */
  --secondary-color: #ff9900; /* Jaune Doré */
  --text-color: white; /* Texte principal */
  --background-color: #1e1e2f; /* Fond global */
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

